//din-pro
@font-face {
  font-family: 'din-pro-bold';
  src: url('din-pro/din-pro-bold.woff2') format('woff2'),
  url('din-pro/din-pro-bold.woff') format('woff'),
  url('din-pro/din-pro-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'din-pro-condensed-bold';
  src: url('din-pro/din-pro-condensed-bold.woff2') format('woff2'),
  url('din-pro/din-pro-condensed-bold.woff') format('woff'),
  url('din-pro/din-pro-condensed-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'din-pro-regular';
  src: url('din-pro/din-pro-regular.woff2') format('woff2'),
  url('din-pro/din-pro-regular.woff') format('woff'),
  url('din-pro/din-pro-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//Gotham
@font-face {
  font-family: 'Gotham-Bold';
  src: url('Gotham/Gotham-Bold.woff2') format('woff2'),
  url('Gotham/Gotham-Bold.woff') format('woff'),
  url('Gotham/Gotham-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('Gotham/Gotham-Medium.woff2') format('woff2'),
  url('Gotham/Gotham-Medium.woff') format('woff'),
  url('Gotham/Gotham-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('Gotham/Gotham-Black.woff2') format('woff2'),
  url('Gotham/Gotham-Black.woff') format('woff'),
  url('Gotham/Gotham-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Ultra';
  src: url('Gotham/Gotham-Ultra.woff2') format('woff2'),
  url('Gotham/Gotham-Ultra.woff') format('woff'),
  url('Gotham/Gotham-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('Gotham/Gotham-Book.woff2') format('woff2'),
  url('Gotham/Gotham-Book.woff') format('woff'),
  url('Gotham/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FSElliotPro-Heavy';
  src: url('FSElliotPro/FSElliotPro-Heavy.woff2') format('woff2'),
  url('FSElliotPro/FSElliotPro-Heavy.woff') format('woff'),
  url('FSElliotPro/FSElliotPro-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}