.banner-logo{
  min-width: 110px;
  height: 225px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 12px 12px 0 12px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}